body {
  background-image: linear-gradient(to top, #d1fdff 0%, #fddb92 100%);
}

* {
  font-family: "consolas";
}

.button:hover {
  cursor: pointer;
  color: rgb(63, 63, 63);
}

.button:active {
  opacity: 0.2;
  filter: alpha(opacity=40);
}

.utilButton:hover {
  cursor: pointer;
  background-color: #facc68;
}

.utilButton:active {
  opacity: 0.2;
  filter: alpha(opacity=40);
}

.utilButton {
  background-color: #fddb92;
  /* background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%); */
}